@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>
@model List<csv>
<table style="width:100%">
    <tr>
        <th>Account Number</th>
        <th>Current Balance</th>
        <th>Last Name/ Company Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Account type</th>
    </tr>



    @foreach (csv s in Model)
    {
        <tr>

            <th>@s.AccountNumber</th>
            <td>@s.Balance</td>
            <td>@s.LastName</td>
            <td>@s.FirstName</td>
            <td>@s.MiddleName</td>
            <td>@s.Type</td>
        </tr>


    }
    </table>
    